<!DOCTYPE html>
<html ng-app="comfoxSlack">

<head>
    <title></title>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
    angular.module('comfoxSlack', []).controller('MainController', ['$scope', function($scope) {
        var socket = io.connect('http://localhost:8000');


        socket.on('newSlackMessage', function(data) {
            $scope.slackMessage = JSON.parse(data.value);
            $scope.$apply();
        });
    }]);
    </script>
</head>

<body ng-controller="MainController">
    <table align="center" width="80%">
        <thead>
            <tr>
                <th>Comfox</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{slackMessage.username}}</td>
                <td>{{slackMessage.message}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
